#!/usr/bin/python
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>The Currency Store</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500' rel='stylesheet' type='text/css'>
    
	 <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	 <link rel="stylesheet" href="/static/css/framework.css">
	 <link rel="stylesheet" href="/static/css/plugins.css">
	 <link rel="stylesheet" href="/static/css/style.css">
   
 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

	<header>
		<div class="wrapper clearfix hdr">
			<div class="one_fourth remove_bottom logo">
				<a href="/">
					<img src="/static/images/logo.png" alt="logo" class="retina" />
				</a>
			</div><!--/one_fourth-->
			<div class="three_fourths remove_bottom last navigat">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="#home" class="scroller active">Home</a>
						</li>
						
						<li>
							<a href="#about-us" class="scroller active">About Us</a>
						</li>
						
						<li>
							<a href="#accounts" class="scroller">ACCOUNTS</a>
						</li>
						<li>
							<a href="#structure" class="scroller">STRUCTURE</a>
						</li>
						
						<li>
							<a href="#roadmap" class="scroller">ROAD MAP</a>
						</li>
						
						
						<li>
							<a href="#faq" class="scroller">Faq</a>
						</li>
																	
						<li>
							<a href="#news-events" class="scroller">NEWS AND EVENTS </a>
						</li>
						<!--<li>
							<a href="#white-paper" class="scroller">WHITE PAPER </a>
						</li>-->
						
								<li>
							<a href="#team" class="scroller">Our Team</a>
						</li>
						<li>
							<a href="#contact" class="scroller">Contact</a>
						</li>
						
					</ul>
				</nav>
			</div><!--/three_fourths-->
		</div><!--/wrapper-->
	</header><!--/header-->
	
	<section class="full video" id="home">
	<video autoplay muted loop id="myVideo">
  <source src="/static/images/TheCurrency.Store_Logo Video HD.mp4" type="video/mp4">
</video>
<div class="ddd">
		<h2 class="mega1">WELCOME TO </h2>
		<h1 class="mega">THE CURRENCY STORE </h1>
		
		
		<a class="mute muted" href="#"><i class="fa fa-volume-up"></i></a>
	</div>
	</section>
	
		<section class="small-padding" id="about-us">
		
		<div class="wrapper">
			<h3 class="floatleft">About Us</h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
			
			<p class="scroll-animate left">In an ever-increasing market of regulation, The Currency Store was established to address the concerns of those who are looking to trade currency while adhering to the various changing laws surrounding the industry.</p>
			
			<p class="scroll-animate right">The priority at The Currency Store is to protect our  customers and ensure that all capital protection and risk controls available are in place. We have revolutionized the currency trading industry with centralized execution of trades by our trading teams as well as our ability to handle, process and act onwide-ranging requests quickly. </p>
		<p class="scroll-animate left">Working with CCX Group and Blockchain Wallet, The Currency Store acts as an Introducing Agent. access to the world´s most secure online currency account and various commercial benefits, as well as access to cryptocurrencies, for spending and trading.</p>
		<p class="scroll-animate right">The team at The Currency Store is hand-picked for their wealth of experience and their ability to utilise our state of the art technology. </p>	
			<div class="clear"></div>
			
		</div>
		
	</section>
	
	<section class="small-padding" id="accounts">
		
		<div class="wrapper">
			<h3 class="floatleft">Accounts</h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
			
			
  <p class="scroll-animate left">An account with  The Currency Store allows users to access their balances in crypto and fiat currencies all in one place. </p>
			
 <p class="scroll-animate right">In each account, Users have 25 Fiat currencies and 3 cryptocurrencies that they can buy and sell.</p>
  <strong class="scroll-animate left">Crypto Currencies Available: </strong>
 <ul class="ussk scroll-animate right">
 <li>Currency Coin</li>
  <li>Ether</li>
   <li>Bitcoin</li>
   
 </ul>
 <strong class="scroll-animate left">Fiat Currencies Available:</strong>
 <br class="clear">
 <div class="lfetul">
 <ul class="ussk scroll-animate left">
 <li>United States Dollars</li>
  <li>Great British Pounds</li>
   <li>Euro</li>
    <li>Canadian Dollars</li>
	 <li>Australian Dollars</li>
	  <li>And over 30 more major currencies</li>
	   </ul>
	  </div>
	  
	  <div class="rgtul">
	  <a href="">Open an Account</a>
	  </div>
   
<br class="clear">
	
	
		</div>
		
	</section>
	
	
	<section class="small-padding" id="structure">
		
		<div class="wrapper">
			<h3 class="floatleft">Structure</h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper struc">
	<div class="wrapper">
	<div class="acs">
			<p class="scroll-animate right"><strong>ACCESS TO THE WORLD’S MOST SECURE CURRENCY ACCOUNT…</strong></p>
	<p class="scroll-animate right"> <strong>where you can buy over 25 currencies AND crypto currencies…</strong></p>
	<p class="scroll-animate right"><strong>All in 1 place!</strong></p>
	<img src="/static/images/cclogo2.png" class="scroll-animate left" />
		</div>
		<div class="xxs scroll-animate top">
		<p><strong>DISTRIBUTION*</strong></p>
	<p>300+ LOCATIONS IN 20+ COUNTRIES</p>
	<p><small>*Subject to Contract</small></p>
		</div>
		<br class="clear">
		<p class="scroll-animate left">The Currency Store, focuses on providing our clients with helpful, up-to-the-minute advice and execution on currency purchases and exchanges as well as access to the latest technology.</p>
		<p class="scroll-animate right">Setting up an online banking account is easy, and one of our knowledgeable team can help in answering any questions and dispel any anxiety related to currency transactions.</p>
		<p class="scroll-animate left">For support with setting up an accountor for any technical or other enquiries, please don’t hesitate to request information by choosing one of the options below.</p>
		<p class="scroll-animate right">The Currency Store is powered by CCX* and you can benefit now from the security that comes from being a client of CCX. Your account is protected by the Bank of England and you gain all the comfort that comes from the extensive regulation and authorisations across CCX and the CC Group.</p>
		<p class="scroll-animate left">Take advantage of the scale and technology at CCX’s fingertips as a force in the global financial markets.</p>
		<p class="scroll-animate right">All clients receive the transparent pricing and service levels normally reserved for the world’s largest institutions.</p>
		<p class="scroll-animate left">Whether you are a private or a corporate client with just one click you have access to one of our 110 friendly staff…</p>
		
		<ul class="ddd">
		<li class="scroll-animate left"><img src="/static/images/currency.png" /></li>
		<li class="scroll-animate bottom"><img src="/static/images/currency.png" /></li>
		<li class="scroll-animate right"><img src="/static/images/currency.png" /></li>
		<li class="scroll-animate left"><strong class="strng">Setup an Account</strong></li>
		<li class="scroll-animate bottom"><strong class="strng">Ask a Question</strong></li>
		<li class="scroll-animate right"><strong class="strng">Request a Call Back</strong></li>
		
		</ul>
		<div class="ppp">
		<p class="scroll-animate top">TheCurrencyStore is one of the leading currency traders globally, focused on ensuring its clients share its proficiency, remarkable knowledge pool and unparalleled service!</p>
		
		</div>
		<p class="scroll-animate left"><strong class="strng">Currency Coin ICO launch… go to <a href="https://currencycoin.io/">www.currencycoin.io</a></strong></p>
		<p class="scroll-animate bottom"><small class="sml">*CCX is a trading name of the CC ltd. The CC ltd is authorised by the financial conduct authority under the electronic money regulations 2011 for the issuing of e-money and the provision of related payment services.</small></p>
	
	</div>
		<div class="clear"></div><!--CLEAR FLOATS-->
	</section>
	
	
	
	<section class="small-padding" id="roadmap">
		
		<div class="wrapper">
			<h3 class="floatleft">Road Map</h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper struc">
	<div class="wrapper">
	
	<ul class="time-line__wrapper">
<!--<li class="time-line__item time-line__item-done"><div class="time-line__date scroll-animate left">February 2018</div><div class="time-line__info scroll-animate right"><span>Pre - ICO by Currency Coin</span></div></li>-->
<li class="time-line__item time-line__item-done"><div class="time-line__date scroll-animate left">May 2018</div><div class="time-line__info scroll-animate right"><span> PRE-ICO</span></div></li>
<li class="time-line__item"><div class="time-line__date scroll-animate left">June 2018</div><div class="time-line__info scroll-animate right"><span>The Currency Store OPEN<br>Access to these Services:</span>
<p>37 Fiat Currencies</p><p>3 Crypto Currencies</p><p>Bitcoin</p><p>Ethereum</p><p>Currency Coin</p></div></li>
<li class="time-line__item"><div class="time-line__date scroll-animate left">July 2018</div><div class="time-line__info scroll-animate right">
ICO (Initial Coin Offer) by Currency Coin <br>
<span>Access to Cold storage for Crypto Currencies in London based vaults with security procedures equivalent to the Bank of England.</span></div></li>

<li class="time-line__item"><div class="time-line__date scroll-animate left">Aug 2018</div><div class="time-line__info scroll-animate right"><span>300+ locations in 20+ countries with over the counter access to crypto currencies and the ability to top up your account at The Currency Store.</span></div></li>

<li class="time-line__item"><div class="time-line__date scroll-animate left">Sept 2018</div><div class="time-line__info scroll-animate right"><span>Further features development including access to trading platforms and ICOs</span></div></li>

<li class="time-line__item"><div class="time-line__date scroll-animate left">Nov 2018 / Jan 2019</div><div class="time-line__info scroll-animate right"><span>Second ICO complete and process of converting all Currency Coin tokens to own or receive profit share of the Distribution platform.</span></div></li>

<li class="time-line__item"><div class="time-line__date scroll-animate left">February 2019</div><div class="time-line__info scroll-animate right"><span>Crypto Currency Investment banking Services to be introduced, details TBA.</span></div></li>
</ul>

	
		
	</div>
		<div class="clear"></div><!--CLEAR FLOATS-->
	</section>
	
	
	
	
	
	
	
	<section class="small-padding" id="faq">
		
		<div class="wrapper">
			<h3 class="floatleft">Faq </h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
		<div class="wrapper">
		
			<div class="">
     <div class="tab scroll-animate left divu" >
      <input class="iput" id="tab-one" type="radio" name="tabs">
      <label for="tab-one">What is The Currency Store? </label>
      <div class="tab-content">
        <p>The Currency Store is a new innovative solution providing a secure online currency account for clients’ FIAT and cryptocurrencies. This will offer a safer and more trustworthy location for such funds and allow clients to monitor and manage their own accounts online. It is being developed to offer seamless transactions and overall satisfaction in buying, selling and currency holding for all of our clients.</p>
      </div>
    </div>
    <div class="tab scroll-animate right divu">
      <input class="iput" id="tab-two" type="radio" name="tabs">
      <label for="tab-two">Why has The Currency Store been developed?  </label>
      <div class="tab-content">
        <p>the current cryptocurrency ways of working use an antiquated system which does not offer the speed and security that will be offered by Sol Capital and Blockchain Wallet through The Currency Store. This will service clients who are looking for a secure online location to store and access their holdings of FIAT and cryptocurrencies, which is convenient to use and simple to understand and operate.</p>
      </div>
    </div>
    <div class="tab scroll-animate left divu">
      <input class="iput" id="tab-3" type="radio" name="tabs">
      <label for="tab-3">What are the components of The Currency Store? </label>
      <div class="tab-content">
        <p>there are two components, CCX and Blockchain Wallet. CCX is part of Sol Capital Markets LLP, which is a London-based, independent group offering investment banking and investment management services platforms, with a substantial financial structure and unrivalled experience and expertise. The strong wallet encryption and cryptography that Blockchain Wallet offers guarantees the security of clients’ funds and gives them complete control. The payment process that they have developed is quick and simple – a one-click, cross-chain process – using CurrencyCoin (the ICO token being developed for use with The Currency Store) and Ethereum cryptocurrencies.</p>
      </div>
    </div>
	<div class="tab scroll-animate right divu">
      <input class="iput" id="tab-4" type="radio" name="tabs">
      <label for="tab-4">Will my account with The Currency Store by secure? </label>
      <div class="tab-content">
        <p>clients can be reassured in the knowledge that their FIAT or cryptocurrency will be protected, through their account, by the Bank of England. Funds will be kept in their own private wallet and clients will be able to manage and verify all transactions on their account, easily and simply online.</p>
      </div>
    </div>
	<div class="tab scroll-animate left divu">
      <input class="iput" id="tab-5" type="radio" name="tabs">
      <label for="tab-5">Is there a fee for transactions on the account? </label>
      <div class="tab-content">
        <p>all transactions will be subject to a fee which will be payable in CurrencyCoin. Anticipated charges are as shown below:</p>
		<ul class="coo">
		<li>US $0-$500</li>
		<li>1%</li>
		<li>US $500-$20,000	</li>
		<li>0.9%</li>
		<li>US $20,000-$50,000</li>
		<li>0.85%</li>
		<li>US $50,000+	</li>
		<li>0.75%</li>
		</ul>
      </div>
    </div>
	<div class="tab scroll-animate right divu">
      <input  class="iput" id="tab-6" type="radio" name="tabs">
      <label for="tab-6">Is the account subject to regulation and audit? </label>
      <div class="tab-content">
        <p>With clients of The Currency Store having access to their accounts at CCX and Blockchain Wallet, audits and accountability will ultimately be the responsibility of the respective companies that hold clients’ currencies.</p>
        <p>The software for the platform will be built with transparency at the heart of its architecture. The crypto part of the platform will be based on blockchain and distributed ledger technologies. Registers and reports on all transactions will be maintained as part of the business protocols and, to enhance traceability and security, clients will be able to access their account at any time, They will also be able to check balances and verify transactions easily, 24 hours a day..</p>
      </div>
    </div>
	<div class="tab scroll-animate left divu">
      <input  class="iput" id="tab-7" type="radio" name="tabs">
      <label for="tab-7">When do I receive CurrencyCoins into my account?  </label>
      <div class="tab-content">
        <p>Upon the close of the ICO, The Currency Store will deliver the Currency Coin Tokens to investors own Ethereum wallet, such as My Ether Wallet or Metamask.</p>
      </div>
    </div>
  </div>
  
	<div class="tab scroll-animate left divu">
      <input class="iput" id="tab-8" type="radio" name="tabs">
      <label for="tab-8">What governance will The Currency Store be subject to?</label>
      <div class="tab-content">
        <p>The Currency Store will adhere to all local governing laws and all relevant international laws.  The Currency Store will be owned by a limited company setup in the jurisdiction of Jersey, United Kingdom. The Currency Coin is issued by a company in the BVI (British Virgin Islands) and subject to the laws of that jurisdiction.</p>
      </div>
    </div>
	
	
	<div class="tab scroll-animate left divu">
      <input class="iput" id="tab-9" type="radio" name="tabs">
      <label for="tab-9">Is The Currency Store acting as a Principal in transactions?</label>
      <div class="tab-content">
        <p>No. The Currency Store acts as an Introducing Agent. You would become the client of the regulated entity CCX and the client of Blockchain Wallet. That respective entity would also be the Principal in the relevant product for both execution and delivery. </p>
      </div>
    </div>
	
	
	
	<div class="tab scroll-animate left divu">
      <input class="iput" id="tab-10" type="radio" name="tabs">
      <label for="tab-10">Are there any special terms regarding the Smart Contract? </label>
      <div class="tab-content">
        <p>Please see below the terms applicable:</p>
		<ul class="ul-li">
		<li>Hard Cap: 25million coins</li>
		<li>10million coins owned by The Currency Store have a lock up period of 2 years.</li>
		<li>5million coins are available for Staff and have a lock up period of 18months.</li>
		<li>10million coins are available for the token sale</li>
		<li>The Currency Store owns all 25million coins on day 1 of the PRE-ICO</li>
		<li>Target Funds Raised from ICO(Soft Cap) = US$1million  </li>
		<li>ICO closes:	31st of May 2018 or on reaching equivalent of US$3million in coin sales</li>
		
		<li>At the end of the ICO all remaining unsold coins will be burnt.	</li>
		<li>All purchases and coins are live from day 1 of the Pre-ICO.</li>
		<li>Currency accepted:  Ethereum</li>
		
		
		</ul>
		
		
		<p>Second ICO:</p>
		<ul class="ul-li">
		<li> Soft Cap: £50 million </li>
		<li>Hard Cap: 500 million Coins</li>
		<li>Target Raise: £250 million </li>
		<li>Coins Not sold:	 Will be burnt</li>
		<li>All Currency Coin Tokenswill then be either converted to owning the distribution company or share in the profits of the distribution company.</li>
		</ul>
		
      </div>
    </div>
	<div class="tab scroll-animate right divu">
      <input class="iput" id="tab-11" type="radio" name="tabs">
      <label for="tab-11">When will The Currency Store contract be executed? </label>
      <div class="tab-content">
        <p>When either the maximum capitalisation of US $3,000,000 is achieved, or on midnight on May 31st 2018, the contract will be executed and the CurrencyCoin tokens will be distributed.</p>
      </div>
    </div>
	
		<div class="tab scroll-animate right divu">
      <input class="iput" id="tab-13" type="radio" name="tabs">
      <label for="tab-13">When will The Currency Store be launched?</label>
      <div class="tab-content">
        <p>The commitment to finalising and launching The Currency Store (with the Currency Coin Token) is absolute. The length of time required for the complete development of the advanced technology and including the integration required. The Currency Store will be launched and operational by an anticipated start date towards THE END OF April or early May2018. See Road Map for further information.</p>
    </div>
	
	</div>
	
	
		<div class="clear"></div>
		</div>
		</section>
		
		
		<section class="small-padding" id="news-events">
		<div class="wrapper">
		<h3 class="floatleft">News and Events</h3>
		<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		</section>
		<section class="dark-wrapper">
		<div class="wrapper">
		<p>Coming Soon...</p>
			<div class="clear"></div>
			</div>
			</section>
			
			
			<section class="small-padding" id="team">
			<div class="wrapper">
			<h3 class="floatleft">Our Team <small>Small and well crafted.</small></h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
			<p class="scroll-animate left">The Management Team behind the development of The Currency Store is based in Dubai, Gibraltar and the UK. share a passion for innovating new solutions and defining the future of both distributed ledger and blockchain technologies. These skilled and experienced professionals have worked together for several years, and draw on the skills of individuals withtrading, legal, financial and technology backgrounds. 
			
			The Team will continually collaborate with other individuals from the business world to provide further support and advice enabling The Currency Store to build and grow.</p>	
			
			<ul class="clearfix portfolio-isotope">
							
								
				<li class="scroll-animate bottom">
					<a href="#popupt1" class="isotope-alt-image">
						<img src="/static/images/nuno.jpg" alt="image" />
						<div>
							<h4>Nuno Barroso<small>"Formerly a Chemical Engineer, Nuno graduated from the University of NSW in Australia"... Read More</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Nuno Barroso</h4>
							<p class="meta">Advisory Board</p>
						</div>
					</div>
					
				</li>
				
				<div id="popupt1" class="overlay">
	<div class="popup">
	<h4 class="margin-bottom-10">Nuno Barroso</h4>
			<a class="close" href="#">&times;</a>
		<div class="content">
			<p>Formerly a Chemical Engineer, Nuno graduated from the University of NSW in Australia, after working for Rio Tinto in the mining industry. Nuno then moved to finance and financial planning, where he gained several years’ experience in the property and finance market. He then co-founded the Platinum Group of Companies in Australia and Malaysia, where he worked for over 10 years in International Project Development.</p>
		<p>Over the past 15 years, he has travelled the globe extensively, working with familyoffices and large international firms, to develop the GCC Global Investment Platform (www.theglobalcc.com). Nuno is also a Director of Rockstar Hubs International (www.RockstarHubs.International) and Rockstar Hubs International Lawyers.</p>
		</div>
	</div>
</div>				
				<li class="scroll-animate right">
					<a href="#popupt3" class="isotope-alt-image">
						<img src="/static/images/maggie.jpg" alt="image" />
						<div>
							<h4>Maggie Webber <small>"Maggie Webber is a public speaker and trainer, the Head Coach at “Shift Happens Now"...Read More</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Maggie Webber</h4>
							<p class="meta">Advisory Board</p>
						</div>
					</div>
				</li>
				<div id="popupt3" class="overlay">
	<div class="popup">
	<h4 class="margin-bottom-10">Maggie Webber</h4>
	
			<a class="close" href="#">&times;</a>
		<div class="content">
			<p>Maggie Webber is a public speaker and trainer, the Head Coach at “Shift Happens Now”, and the co-author of the best-selling books “Transform Your Life” and “How To Get A Bigger Bite Out Of Life”. </p>
		<p>Through her company, In The Zone (Australia) Pty Ltd, Maggie has provided consultation to businesses for 35 years. She is well versed in women’s roles in the workplace. Maggie has mentored many high-performance executives and athletes, providing them with a variety of tools to increase their productivity, assist in managing stress level balance and put integration.  Whilst previously living in the US, she studied with Dr Deepak Chopra and became his first certified meditation practitioner in the Pacific Rim. Having taught many hundreds of clients this practice, she then became a Master Personal and Small Business Coach, adding a number of other modalities into her tool kit such as NLP, Social Media Campaigns and Business Development Consulting. She has also been nominated twice for Telstra’s ‘Australian Business Woman of the Year’. Maggie is also a speaker for the Women’s Economic Forum.</p>
		</div>
	</div>
</div>
				<li class="scroll-animate right">
					<a href="#popupt4" class="isotope-alt-image">
						<img src="/static/images/jonny.jpg" alt="image" />
						<div>
							<h4>Jonny Cadden<small>"Jonny is an ultra-high energy, passionate entrepreneur, super-connector and dealmaker"...Read More</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Jonny Cadden</h4>
							<p class="meta">Advisory Board</p>
						</div>
					</div>
				</li>
				<div id="popupt4" class="overlay">
	<div class="popup">
	<h4 class="margin-bottom-10">Jonny Cadden</h4>
	
			<a class="close" href="#">&times;</a>
		<div class="content">
			<p>Jonny is an ultra-high energy, passionate entrepreneur, super-connector and dealmaker with 12,000 LinkedIn Connections and global relationships with investors, influencers, founders and business leaders in UK, USA, China, Europe and The Middle East. In 2016, he personally founded Manchester's international tech, investment & music festival ‘Business Rocks’ (pitching to and raising substantial angel investment from Dr Scott Fletcher, MBE). This brought Apple Co-Founder Steve Wozniak to the City, along with 2000 international delegates, 103 world-class speakers and investors. One of the festival highlights was opening the London Stock Exchange with Priceline.com / Booking.com co-founder Jeff Hoffman, who Jonny now counts as a personal friend. The festival was covered on Sky News SWIPE and trended round the world on social media.
</p><p>Jonny is the founder/co-founder of: <a href="http://www.secretdays.com/">www.secretdays.com</a>, <a href="http://fluidrecruitment.co.uk/">www.fluidrecruitment.co.uk</a> & <a href="http://www.chinaminingtech.com/">www.chinaminingtech.com</a>. Connect with Jonny on Twitter @JonnyConnects and LinkedIn https://www.linkedin.com/in/jdc123/ </p>
		
		</div>
	</div>
</div>
				
				<li class="scroll-animate right">
					<a href="#popupt5" class="isotope-alt-image">
						<img src="/static/images/Jonathan.jpg" alt="image" />
						<div>
							<h4>Jonathan Pfahl <small>"Jonathan Pfahl is incredibly passionate about mentoring"...Read More</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Jonathan Pfahl</h4>
							<p class="meta">Advisory Board</p>
						</div>
					</div>
				</li>
				
				<div id="popupt5" class="overlay">
	<div class="popup">
	<h4 class="margin-bottom-10">Jonathan Pfahl</h4>
	
			<a class="close" href="#">&times;</a>
		<div class="content">
			<p>JJonathan Pfahl is incredibly passionate about mentoring. The RockStar Mentoring Group was set up by Jonathan in 2007 as he had experienced REAL Mentoring himself on 2 occasions. He wanted to create a model for ALL types of businesses to benefit from what he calls REAL Mentoring. </p>
		<p>Since establishing his first RockStar company in the group in 2007, RockStar now has companies in the mentoring and property fields in 3 different parts of the world as well as vested investments in 9 different private companies. </p>
		<p>Whilst still only in his 30s, Jonathan is a driven and successful entrepreneur. He who is passionate about working with entrepreneurs who are determined to see their business grow. He achieves these goals with his mentees by making them measurable and achievable, but at the same time, will have an immediate effect on the business.</p>
		</div>
	</div>
</div>
			<li class="scroll-animate right">
					<a href="#popupt6" class="isotope-alt-image">
						<img src="/static/images/sharon.jpg" alt="image" />
						<div>
							<h4>Sharon Callix <small>"Sharon is an award winning social media consultant/coach"...Read More"</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Sharon Callix</h4>
							<p class="meta">Advisory Board</p>
						</div>
					</div>
				</li>
		<div id="popupt6" class="overlay">
	<div class="popup">
	<h4 class="margin-bottom-10">Sharon Callix</h4>
			<a class="close" href="#">&times;</a>
		<div class="content">
			<p>Sharon is an award winning social media consultant/coach, who helps her clients leverage the social media environment to increase their revenues in various ways. </p>
		<p>When working with Sharon, clients will have her complete support and assistance in developing a strategy that allows them to get closer to their current customers while simultaneously increasing visibility to new customers. </p>
		<p>Sharon is also co-founder of the International Association for Social Media Professionals <a href="(http://socialmediaprofessionals.org/)">(www.SocialMediaProfessionals.org)</a>.</p>
		</div>
	</div>
</div>
					<li class="scroll-animate right">
					<a href="#popupt8" class="isotope-alt-image">
						<img src="/static/images/rob.jpg" alt="image" />
						<div>
							<h4>Rob Cecil <small>"Rob Cecil is an experienced business growth expert with specific expertise in marketing"...Read More</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Rob Cecil</h4>
							<p class="meta">Advisory Board</p>
						</div>
					</div>
				</li>
				
				<div id="popupt8" class="overlay">
	<div class="popup">
	<h4 class="margin-bottom-10">Rob Cecil</h4>
		<a class="close" href="#">&times;</a>
		<div class="content">
		<p>Rob Cecil is an experienced business growth expert with specific expertise in marketing, sales, process, automation and business development methodologies. In addition to leading large sales organizations for global technology corporations, Rob has founded several companies having guided their growth to market leader positions.</p>
		<p>As an advisor, trainer and coach, Rob has dedicated his attention to rapid growth companies with unique market opportunities supported by strong leadership teams. Rob has consulted for over 100 businesses in a wide array of industries in over a dozen countries. He has worked alongside business experts including Chet Holmes and Tony Robbins among many others and has been a speaker at numerous business events. Rob has a BS in business from Nova South-eastern University and has studied in graduate programs at Georgia State University and University of Illinois. </p>
		</div>
	</div>
</div>
			</ul>
			</div>
			</section>
		<section class="small-padding" id="contact">
			<div class="wrapper">
			<h3 class="floatleft">Contact Us. <small>We're ready for your call or message below.</small></h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		</section>
		<section class="dark-wrapper">
			<div class="wrapper clearfix">
			<div class="two_thirds scroll-animate left">
			
			

				</form>
  <br>
       
			</div>
			<div class="one_third last scroll-animate right">
				<h5>Contact Us</h5>
				<p>We´re here to help</p>
				<p class="margin-bottom-10"><i class="fa fa-map-marker fa-fixed-width"></i> The Shard, Level 24,<br> 32 London Bridge Street, London<br> SE1 9SG, United Kingdom</p>
				<p class="margin-bottom-10"><i class="fa fa-phone-square fa-fixed-width"></i> +44 (0) 845 366 9742 </p>
				<p class="margin-bottom-10"><i class="fa fa-laptop fa-fixed-width"></i> <a href="mailto:admin@rshi.co">admin@rshi.co</a></p>
			</div>
			</div>
			</section>
		<footer>
		<div class="wrapper centered">
			<div class="social">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		</footer>
		<section class="small-padding dark-wrapper">
		
		<div class="wrapper">
			<p class="centered">© 2018 TheCurrencyStore All rights reserved.</p>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	
<!--LOAD SCRIPTS-->

 <script type="text/javascript" src="/static/js/jquery.js"></script>
 <script type="text/javascript" src="/static/js/plugins.js"></script>
 <script type="text/javascript" src="/static/js/custom.js"></script>
 <script type="text/javascript" src="/static/js/video.js"></script>

<script>
    $(function() {
        var BV = new $.BigVideo({useFlashForFirefox:false});
		BV.init();
		if ((/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent)) {
		    BV.show('img/cover.png');
		} else {
		    BV.show('http://video-js.zencoder.com/oceans-clip.mp4',{
		    	altSource:'http://video-js.zencoder.com/oceans-clip.ogv'
		    });
		}
		BV.getPlayer().volume(0);
		$('body').on('click', '.mute.muted', function(){
			BV.getPlayer().volume(0.8);
			$(this).removeClass('muted').addClass('unmuted');
			return false;
		});
		
		$('body').on('click', '.mute.unmuted', function(){
			BV.getPlayer().volume(0);
			$(this).removeClass('unmuted').addClass('muted');
			return false;
		});
    });
</script>
<script>
var target_date = new Date("march 31, 2018 23:59:00").getTime(); // set the countdown date
var days, hours, minutes, seconds; // variables for time units

var countdown = document.getElementById("tiles"); // get tag element

getCountdown();

setInterval(function () { getCountdown(); }, 1000);

function getCountdown(){

	// find the amount of "seconds" between now and target
	var current_date = new Date().getTime();
	var seconds_left = (target_date - current_date) / 1000;

	days = pad( parseInt(seconds_left / 86400) );
	seconds_left = seconds_left % 86400;
		 
	hours = pad( parseInt(seconds_left / 3600) );
	seconds_left = seconds_left % 3600;
		  
	minutes = pad( parseInt(seconds_left / 60) );
	seconds = pad( parseInt( seconds_left % 60 ) );

	// format countdown string + set tag value
	countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>"; 
}

function pad(n) {
	return (n < 10 ? '0' : '') + n;
}
</script>

<script>
$(function () {
    $("div").slice(0, 4).show();
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $("div:hidden").slice(0, 4).slideDown();
        if ($("div:hidden").length == 0) {
            $("#load").fadeOut('slow');
        }
        $('html,body').animate({
            scrollTop: $(this).offset().top
        }, 1500);
    });
});

$('a[href=#top]').click(function () {
    $('body,html').animate({
        scrollTop: 0
    }, 600);
    return false;
});

$(window).scroll(function () {
    if ($(this).scrollTop() > 50) {
        $('.totop a').fadeIn();
    } else {
        $('.totop a').fadeOut();
    }
});
</script>

</body>
</html>
